@{
    ViewBag.Title = "About";
}
<div class="row" style="float:right">
    <div style="margin-right:15px">
        <input type="text" class="btn" name="q" size="21" style="margin-top:10px;margin-right:5px" maxlength="120"><br>
        <input type="submit" class="btn" value="search" style="float:right;margin-right:5px">
    </div>

</div>
<div class="jumbotron" style="margin-bottom:40px">

    <h2>Virtual Class Provides Online Tutorials</h2>
    <img height="200" width="1000" id="img_logo" alt="Logo" src=@Url.Content("~/Images/enchanted_library-851x315.jpg") />
    <p class="lead" style="color:white">Virtual Class Is Here To serve The Facility You With The Knowledge Which you share with each other.</p>

</div>

<b><h1>Virtual Class</h1></b>

<b><p>Online learning is one of the upcoming trends in the education sectors all over the world.
 <br>This is a mode of learning whereby learning is done through the internet.
    <br>With modern and improved technologies, this mode of learning has been made easier. 
    <br> e-learning, there are no classrooms.
    <br>The students study from a place that is most convenient for them.
    <br>They can acquire learning material online. 
    <br>The study and learning materials could be audio, texts or notes, videos and images. 
    <br>This mode of study is preferred for higher learning institutions. However, the mode of study has its advantages and various disadvantages too.</p>
