@{
    
}
<div class="jumbotron" style="margin-bottom:40px">

    <h2>Virtual Class Provides Online Tutorials</h2>
    <img height="200" width="1000" id="img_logo" alt="Logo" src=@Url.Content("~/Images/enchanted_library-851x315.jpg") />
    <p class="lead" style="color:white">Virtual Class Is Here To serve The Facility You With The Knowledge Which you share with each other.</p>

</div>


<address>
   @Model.country<br />
   Email: @Model.Email<br />
    
    UAN: @Model.UAN<br />
    Phone#: @Model.Phone
</address>

<address>
    <strong>Email:</strong> <a href="Bitf13m012@pucit.edu.pk">Help@virtualclass.com</a>
</address>