
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>

    <div class="banner-box">
        <div class="wrap">
            <div class="main-top">
                <div class="main">

                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Sign Up Here!</h3>
                    </div>


                    <div class="label-success">
                        <form action="/Home/Register" method="post">
                            <input type="text" name="name" value="" placeholder="Name" required><br><br>
                            <input type="text" name="uname" value="" placeholder="User Name" required><br><br>
                            <input type="text" name="password" value="" placeholder="Password" required><br><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
